//------------------index---------------
h2{
  margin-left: 15%;
}
ul.product_list{
  li{
    list-style-type: none;
    height: 380px;
    .product_item{
      .catalog_image{
        margin-top: 20px;
        &:hover{
          margin-top: 10px;
        }
      }
      .catalog_name{
        color: #555;
        font-size: 16px;
        font-style: italic;
        line-height: 23px;
        letter-spacing: 0.075em;
        text-align: center;
        text-transform: capitalize;

      }
      .catalog_price{
        background: #eee;
        border-radius: 5px;
        color: #aaa;
        padding: 10px;
        width: 200px;
        &:hover{
          color: #555;
          cursor: pointer;
        }
      }
    }
  }
}

//------------------------show------------------
#center_column{
  margin: 0 auto;
  width: 500px;
  #name{
    font-size: 25px;
  }
  #description{
    font-size: 14px;
    line-height: 19px;
  }
}